//RESET
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
//300 400 700

//dimensioni generali
$generalWidth: 1140px;
$generalMargin: 0 auto;


//colori
$whiteColor: white;
$primaryDCcolor: #0282f9;